# Import

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

# Define path and get df

In [79]:
BASE_VID_DIR = Path('vid_labels/orig_vid_labels')
BASE_SPLIT_VID_DIR = Path('vid_labels/split_vid_labels')
# squat
sq_vid_df = pd.read_csv(BASE_VID_DIR / 'squat_video_labels.csv')
sq_split_vid_df = pd.read_csv(BASE_SPLIT_VID_DIR / 'squat_split_video_labels.csv')
# pushup
pu_vid_df = pd.read_csv(BASE_VID_DIR / 'pushup_video_labels.csv')
pu_split_vid_df = pd.read_csv(BASE_SPLIT_VID_DIR / 'pushup_split_video_labels.csv')
# jumping-jack
jj_vid_df = pd.read_csv(BASE_VID_DIR / 'jumping-jack_video_labels.csv')
jj_split_vid_df = pd.read_csv(BASE_SPLIT_VID_DIR / 'jumping-jack_split_video_labels.csv')
# leg-raise
lr_vid_df = pd.read_csv(BASE_VID_DIR / 'leg-raise_video_labels.csv')
lr_split_vid_df = pd.read_csv(BASE_SPLIT_VID_DIR / 'leg-raise_split_video_labels.csv')
# half-burpee
hb_vid_df = pd.read_csv(BASE_VID_DIR / 'half-burpee_video_labels.csv')
hb_split_vid_df = pd.read_csv(BASE_SPLIT_VID_DIR / 'half-burpee_split_video_labels.csv')

# squat

## video level

In [15]:
sq_vid_df = sq_vid_df.drop('Unnamed: 3', axis=1)
# sq_vid_df

In [16]:
# gender
temp = sq_vid_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: f'{(x/len(sq_vid_df)*100):.3f}%')
temp

        count ratio_to_all
gender
female     40      47.619%
male       44      52.381%

In [17]:
# indoor/outdoor
temp_2 = sq_vid_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: f'{(x/len(sq_vid_df)*100):.3f}%')
temp_2

                count ratio_to_all
indoor/outdoor
indoor             77      91.667%
outdoor             7       8.333%

## split-video level

In [28]:
# 5-classes-view
df_for = '5-classes-view'
col_to_del = list(sq_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp_3 = sq_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp_3['percentage'] = temp_3['count'].apply(lambda x: f'{(x/len(sq_split_vid_df)*100):.3f}%')
temp_3

                count percentage
5-classes-view
back               28    11.429%
front               6     2.449%
left-tilted        50    20.408%
right-tilted       33    13.469%
side              128    52.245%

In [29]:
# position
df_for = 'position'
col_to_del = list(sq_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = sq_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(sq_split_vid_df)*100):.3f}%')
temp

          count percentage
position
center      245   100.000%

In [30]:
# distance
df_for = 'distance'
col_to_del = list(sq_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = sq_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(sq_split_vid_df)*100):.3f}%')
temp

          count percentage
distance
close        20     8.163%
far          20     8.163%
fit         205    83.673%

In [31]:
# gender
df_for = 'gender'
col_to_del = list(sq_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = sq_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(sq_split_vid_df)*100):.3f}%')
temp

        count percentage
gender
female     92    37.551%
male      153    62.449%

In [32]:
# indoor/outdoor
df_for = 'indoor/outdoor'
col_to_del = list(sq_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = sq_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(sq_split_vid_df)*100):.3f}%')
temp

                count percentage
indoor/outdoor
indoor            233    95.102%
outdoor            12     4.898%

# pushup

## video level

In [81]:
# gender
temp = pu_vid_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: f'{(x/len(pu_vid_df)*100):.3f}%')
temp

        count ratio_to_all
gender
female      8       8.333%
male       88      91.667%

In [82]:
# indoor/outdoor
temp_2 = pu_vid_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: f'{(x/len(pu_vid_df)*100):.3f}%')
temp_2

                count ratio_to_all
indoor/outdoor
indoor             71      73.958%
outdoor            25      26.042%

## split-video level

In [83]:
# 5-classes-view
df_for = '5-classes-view'
col_to_del = list(pu_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp_3 = pu_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp_3['percentage'] = temp_3['count'].apply(lambda x: f'{(x/len(pu_split_vid_df)*100):.3f}%')
temp_3

                count percentage
5-classes-view
back               11     2.535%
front              21     4.839%
left-tilted       102    23.502%
right-tilted      123    28.341%
side              177    40.783%

In [84]:
# position
df_for = 'position'
col_to_del = list(pu_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = pu_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(pu_split_vid_df)*100):.3f}%')
temp

          count percentage
position
center      432    99.539%
right         2     0.461%

In [85]:
# distance
df_for = 'distance'
col_to_del = list(pu_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = pu_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(pu_split_vid_df)*100):.3f}%')
temp

          count percentage
distance
close        18     4.147%
far           6     1.382%
fit         410    94.470%

In [86]:
# gender
df_for = 'gender'
col_to_del = list(pu_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = pu_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(pu_split_vid_df)*100):.3f}%')
temp

        count percentage
gender
female     26     5.991%
male      408    94.009%

In [89]:
# indoor/outdoor
df_for = 'indoor/outdoor'
col_to_del = list(pu_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = pu_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(pu_split_vid_df)*100):.3f}%')
temp

                count percentage
indoor/outdoor
indoor            331    76.267%
outdoor           103    23.733%

# jumping-jack

## video level

In [90]:
# gender
temp = jj_vid_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: f'{(x/len(jj_vid_df)*100):.3f}%')
temp

        count ratio_to_all
gender
female     47      44.762%
male       58      55.238%

In [91]:
# indoor/outdoor
temp_2 = jj_vid_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: f'{(x/len(jj_vid_df)*100):.3f}%')
temp_2

                count ratio_to_all
indoor/outdoor
indoor             74      70.476%
outdoor            31      29.524%

## split-video level

In [92]:
# 5-classes-view
df_for = '5-classes-view'
col_to_del = list(jj_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp_3 = jj_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp_3['percentage'] = temp_3['count'].apply(lambda x: f'{(x/len(jj_split_vid_df)*100):.3f}%')
temp_3

                count percentage
5-classes-view
back                2     0.725%
front             233    84.420%
left-tilted        31    11.232%
right-tilted       10     3.623%

In [93]:
# position
df_for = 'position'
col_to_del = list(jj_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = jj_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(jj_split_vid_df)*100):.3f}%')
temp

          count percentage
position
center      270    97.826%
left          6     2.174%

In [94]:
# distance
df_for = 'distance'
col_to_del = list(jj_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = jj_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(jj_split_vid_df)*100):.3f}%')
temp

          count percentage
distance
close         2     0.725%
far          34    12.319%
fit         240    86.957%

In [95]:
# gender
df_for = 'gender'
col_to_del = list(jj_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = jj_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(jj_split_vid_df)*100):.3f}%')
temp

        count percentage
gender
female    136    49.275%
male      140    50.725%

In [96]:
# indoor/outdoor
df_for = 'indoor/outdoor'
col_to_del = list(jj_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = jj_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(jj_split_vid_df)*100):.3f}%')
temp

                count percentage
indoor/outdoor
indoor            198    71.739%
outdoor            78    28.261%

# leg-raise

## video level

In [97]:
# gender
temp = lr_vid_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: f'{(x/len(lr_vid_df)*100):.3f}%')
temp

        count ratio_to_all
gender
female     45      39.823%
male       68      60.177%

In [98]:
# indoor/outdoor
temp_2 = lr_vid_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: f'{(x/len(lr_vid_df)*100):.3f}%')
temp_2

                count ratio_to_all
indoor/outdoor
indoor             97      85.841%
outdoor            16      14.159%

## split-video level

In [99]:
# 5-classes-view
df_for = '5-classes-view'
col_to_del = list(lr_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp_3 = lr_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp_3['percentage'] = temp_3['count'].apply(lambda x: f'{(x/len(lr_split_vid_df)*100):.3f}%')
temp_3

                count percentage
5-classes-view
back               44    17.323%
side              210    82.677%

In [100]:
# position
df_for = 'position'
col_to_del = list(lr_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = lr_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(lr_split_vid_df)*100):.3f}%')
temp

          count percentage
position
center      254   100.000%

In [101]:
# distance
df_for = 'distance'
col_to_del = list(lr_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = lr_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(lr_split_vid_df)*100):.3f}%')
temp

          count percentage
distance
close        12     4.724%
far          48    18.898%
fit         194    76.378%

In [102]:
# gender
df_for = 'gender'
col_to_del = list(lr_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = lr_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(lr_split_vid_df)*100):.3f}%')
temp

        count percentage
gender
female    107    42.126%
male      147    57.874%

In [103]:
# indoor/outdoor
df_for = 'indoor/outdoor'
col_to_del = list(lr_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = lr_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(lr_split_vid_df)*100):.3f}%')
temp

                count percentage
indoor/outdoor
indoor            226    88.976%
outdoor            28    11.024%

# half-burpee

## video level

In [104]:
# gender
temp = hb_vid_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: f'{(x/len(hb_vid_df)*100):.3f}%')
temp

        count ratio_to_all
gender
female     48      45.714%
male       57      54.286%

In [105]:
# indoor/outdoor
temp_2 = hb_vid_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: f'{(x/len(hb_vid_df)*100):.3f}%')
temp_2

                count ratio_to_all
indoor/outdoor
indoor             91      86.667%
outdoor            14      13.333%

## split-video level

In [116]:
# 5-classes-view
df_for = '5-classes-view'
col_to_del = list(hb_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp_3 = hb_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp_3['percentage'] = temp_3['count'].apply(lambda x: f'{(x/len(hb_split_vid_df)*100):.3f}%')
temp_3

                count percentage
5-classes-view
back                6     2.679%
left-tilted        30    13.393%
right-tilted       26    11.607%
side              162    72.321%

In [107]:
# position
df_for = 'position'
col_to_del = list(hb_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = hb_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(hb_split_vid_df)*100):.3f}%')
temp

          count percentage
position
center      210    93.750%
left         10     4.464%
right         4     1.786%

In [108]:
# distance
df_for = 'distance'
col_to_del = list(hb_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = hb_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(hb_split_vid_df)*100):.3f}%')
temp

          count percentage
distance
far          34    15.179%
fit         190    84.821%

In [109]:
# gender
df_for = 'gender'
col_to_del = list(hb_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = hb_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(hb_split_vid_df)*100):.3f}%')
temp

        count percentage
gender
female     92    41.071%
male      132    58.929%

In [110]:
# indoor/outdoor
df_for = 'indoor/outdoor'
col_to_del = list(hb_split_vid_df.columns)
col_to_del.remove('file_name')
col_to_del.remove(df_for)
temp = hb_split_vid_df.groupby([df_for]).count().rename(columns={'file_name':'count'}).drop(col_to_del, axis=1)
temp['percentage'] = temp['count'].apply(lambda x: f'{(x/len(hb_split_vid_df)*100):.3f}%')
temp

                count percentage
indoor/outdoor
indoor            192    85.714%
outdoor            32    14.286%