## Import

In [1]:
import numpy as np
import pandas as pd

## Let's do it

In [5]:
sq_df = pd.read_csv('orig_vid_labels/squat_video_labels.csv')
pu_df = pd.read_csv('orig_vid_labels/pushup_video_labels.csv')
jj_df = pd.read_csv('orig_vid_labels/jumping_jack_video_labels.csv')
lr_df = pd.read_csv('orig_vid_labels/leg_raise_video_labels.csv')
hb_df = pd.read_csv('orig_vid_labels/half_burpee_video_labels.csv')

### squat

In [10]:
sq_df = sq_df.drop('Unnamed: 3', axis=1)
sq_df

In [29]:
temp = sq_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: x/len(sq_df))
temp

        count  ratio_to_all
gender
female     40       0.47619
male       44       0.52381

In [28]:
temp_2 = sq_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: x/len(sq_df))
temp_2

                count  ratio_to_all
indoor/outdoor
indoor             77      0.916667
outdoor             7      0.083333

### pushup

In [6]:
temp = pu_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: x/len(pu_df))
temp

        count  ratio_to_all
gender
female      8      0.083333
male       88      0.916667

In [7]:
temp_2 = pu_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: x/len(pu_df))
temp_2

                count  ratio_to_all
indoor/outdoor
indoor             71      0.739583
outdoor            25      0.260417

### jumping-jack

In [8]:
temp = jj_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: x/len(jj_df))
temp

        count  ratio_to_all
gender
female     47      0.447619
male       58      0.552381

In [9]:
temp_2 = jj_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: x/len(jj_df))
temp_2

                count  ratio_to_all
indoor/outdoor
indoor             74      0.704762
outdoor            31      0.295238

### leg-raise

In [10]:
temp = lr_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: x/len(lr_df))
temp

        count  ratio_to_all
gender
female     45       0.39823
male       68       0.60177

In [11]:
temp_2 = lr_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: x/len(lr_df))
temp_2

                count  ratio_to_all
indoor/outdoor
indoor             97      0.858407
outdoor            16      0.141593

### half-burpee

In [12]:
temp = hb_df.groupby(['gender']).count().rename(columns={'file_name':'count'}).drop('indoor/outdoor', axis=1)
temp['ratio_to_all'] = temp['count'].apply(lambda x: x/len(hb_df))
temp

        count  ratio_to_all
gender
female     48      0.457143
male       57      0.542857

In [13]:
temp_2 = hb_df.groupby(['indoor/outdoor']).count().rename(columns={'file_name':'count'}).drop('gender', axis=1)
temp_2['ratio_to_all'] = temp_2['count'].apply(lambda x: x/len(hb_df))
temp_2

                count  ratio_to_all
indoor/outdoor
indoor             91      0.866667
outdoor            14      0.133333