In [1]:
import os
import pickle
import pandas as pd

In [9]:
vid_num = 3
data = {}
for path, subdir, files in os.walk(f'saved_pickles/for_visualization/squat/test_vid_{vid_num}/round_2'):
    for name in files:
        if name.endswith('.pickle'):
            full_path = os.path.join(path, name)
            file_name = name[name.find(f'{vid_num}')+2:name.rfind('.')]
            print(full_path)
            with open(full_path, 'rb') as f:
                data[file_name] = pickle.load(f)

saved_pickles/for_visualization/squat/test_vid_3/round_2\test_vid_3_gt.pickle
saved_pickles/for_visualization/squat/test_vid_3/round_2\test_vid_3_kps_seq.pickle
saved_pickles/for_visualization/squat/test_vid_3/round_2\test_vid_3_kps_stacked.pickle

In [10]:
vid_3_visual = pd.DataFrame(data)
vid_3_visual.index.name = 'frame no.'
vid_3_visual

           gt  kps_seq  kps_stacked
frame no.
0           0        0            0
1           0        0            0
2           0        0            0
3           0        0            0
4           0        0            0
...        ..      ...          ...
7559        0        0            0
7560        0        0            0
7561        0        0            0
7562        0        0            0
7563        0        0            0

[7564 rows x 3 columns]

In [11]:
vid_3_visual.to_csv(f'saved_csv/squat/round_2/test_vid_{vid_num}_visualize.csv', index=True)

## Compare Selected Best models

In [37]:
vid_num = 3
selected_files = [f'saved_pickles/for_visualization/pushup/test_vid_{vid_num}/test_vid_{vid_num}_gt.pickle',
                  f'saved_pickles/for_visualization/pushup/test_vid_{vid_num}/test_vid_{vid_num}_kps_single.pickle',
                  f'saved_pickles/for_visualization/pushup/test_vid_{vid_num}/round_4/test_vid_{vid_num}_kps_seq.pickle',
                  f'saved_pickles/for_visualization/pushup/test_vid_{vid_num}/round_4/test_vid_{vid_num}_kps_seq_hard_vote.pickle',
                  f'saved_pickles/for_visualization/pushup/test_vid_{vid_num}/round_4/test_vid_{vid_num}_kps_stacked.pickle',
                  f'saved_pickles/for_visualization/pushup/test_vid_{vid_num}/round_4/test_vid_{vid_num}_kps_stacked_hard_vote.pickle',
                 ]
data = {}
for file in selected_files:
    name = file.split(os.path.sep)[-1]
    name = name[name.rfind(str(vid_num))+2:name.rfind('.')]
    with open(file, 'rb') as f:
        data[name] = pickle.load(f)
df = pd.DataFrame(data)
df.index.name = 'frame no.'

In [38]:
df

,gt,kps_single,kps_seq,kps_seq_hard_vote,kps_stacked,kps_stacked_hard_vote
frame no.,,,,,,
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
3990,0,0,0,0,0,0
3991,0,0,0,0,0,0
3992,0,0,0,0,0,0
3993,0,0,0,0,0,0
3994,0,0,0,0,0,0

In [39]:
df.to_csv(f'saved_csv/pushup/current_best_r4/test_vid_{vid_num}_visualize.csv', index=True)